asgiref
backports.zoneinfo
crispy-bootstrap4
Django==3.2.1
django-crispy-forms
django-extensions
django-progressive-web-app
gunicorn
packaging
pillow
psycopg2-binary
pytz
sqlparse
typing-extensions
tzdata
whitenoise
